.divselect {
    margin: 50px auto;
}
div.card {
    margin-bottom: 30px;
    transition: .3s;
}

div.card:hover {
    transform: scale(1.01);
    box-shadow:0px 0px 30px 0px rgba(50, 50, 50, 0.54);
} 
div.imgBg {
    width: 95%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin:0 auto ;
}
ul {
    list-style: none;
    padding: 0 20px;
}
ul li {
    padding: 5px 0;
   
}
