<div class="nav">
  <div class="divselect">
    <select class="form-control" (change)="change($event)" >
      <option value="all">Todas las categorias</option>
      <option [value]="category" *ngFor="let category of arrayCategory">{{category | titlecase}}</option>
    </select>
  </div>
</div>

<div class="container col-10">
  <div class="row">
    <div class="col-sm-6 col-lg-4 col-xl-3" *ngFor="let post of posts">
      <div class="borderTarget">
        <div>
         
          <h4>{{post.title | titlecase}}</h4>
        </div>
        <div class="img">
          <img src="{{post.img}}" alt="">
        </div>
        <div>
          <!-- <p>{{post.text | titlecase}}</p> -->
          <h5>{{post.author | titlecase}}</h5>
          <h6>{{post.category | titlecase}}</h6>
        </div>
        <p class="date">{{post.date | date:'dd/MM/yy HH:mm' }}</p>
      </div>
      <hr>
    </div>
  </div>

</div>
