
.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 5vw;
}
.borderTarget {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    padding: 10px 10px;
    margin: 20px auto;
    background-color: rgb(243, 243, 243);
}
.borderTarget div:first-child {
    display: flex;
    justify-content: space-between;
}
.borderTarget h4, .borderTarget h5 {
    padding: 10px 0;
}
.img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 5px;
}
img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
}

