<div class="nav">
    <div class="btn-group">
        <select type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <option value="">Todos los pots</option>
            <option value="">item2</option>
            <option value="">item3</option>
        </select>  
    </div>
    <div class="add">
        <button type="button" class="btn btn-primary rounded-2">add</button>
    </div>
</div>

<div class="container">
    
    <div class="row">
      <div class="col-sm-12  col-md-6 col-xl-4">
        <div class="borderTarget">
            <div>
                <h5>Autor</h5>
                <p>dia</p>
            </div>
            <div class="img" >
                <img src="https://images.pexels.com/photos/5418319/pexels-photo-5418319.jpeg?cs=srgb&dl=pexels-evie-shaffer-5418319.jpg&fm=jpg" alt="">
            </div>
              <div>
                <h4>Titulo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iusto tempora voluptas aspernatur sit expedita dolores itaque reprehenderit perspiciatis! Minima obcaecati natus fugit eum voluptatem aliquid adipisci quaerat recusandae accusamus.</p>
                <h6>categoria</h6>
            </div>
        </div>
      </div>
      <div class="col-sm-12  col-md-6 col-xl-4">
        <div class="borderTarget">
            <div>
                <h5>Autor</h5>
                <p>dia</p>
            </div>
            <div class="img">
                <img src="https://images.pexels.com/photos/5739049/pexels-photo-5739049.jpeg?cs=srgb&dl=pexels-eugene-shirokov-5739049.jpg&fm=jpg" alt="">
            </div>
              <div>
                <h4>Titulo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iusto tempora voluptas aspernatur sit expedita dolores itaque reprehenderit perspiciatis! Minima obcaecati natus fugit eum voluptatem aliquid adipisci quaerat recusandae accusamus.</p>
                <h5>categoria</h5>
            </div>
        </div>
      </div>
      <div class="col-sm-12  col-md-6 col-xl-4">
        <div class="borderTarget">
            <div>
                <h5>Autor</h5>
                <p>dia</p>
            </div>
            <div class="img" >
                <img src="https://lh3.googleusercontent.com/proxy/ZylXcW1unXTJ7VGhmP-MvmagCSyo-pC6hIQi3SrBY8D0MhHjYX5fHQfoWsRuGRcHe38-mX-sxfMtbfidm6eBRwdxey3kD8jQAOmOpmUKGIQo" alt="">
            </div>
              <div>
                <h4>Titulo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iusto tempora voluptas aspernatur sit expedita dolores itaque reprehenderit perspiciatis! Minima obcaecati natus fugit eum voluptatem aliquid adipisci quaerat recusandae accusamus.</p>
                <h5>categoria</h5>
            </div>
        </div>
      </div>
    </div>
    
</div>